<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Welcome.jsp</welcome-file>
    </welcome-file-list>
    <!--    <listener>
        <listener-class>
             jdbc.GlobalConnectionPool
        </listener-class>
    </listener>-->




    <servlet>
        <servlet-name>DB_ElectronicsServlet</servlet-name>
        <servlet-class>RPI.ElectronicsCollectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DB_ElectronicsServlet</servlet-name>
        <url-pattern>/app/DB_ElectronicsServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>DB_LearningServlet</servlet-name>
        <servlet-class>RPI.LearningCollectionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DB_LearningServlet</servlet-name>
        <url-pattern>/app/DB_LearningServlet</url-pattern>
    </servlet-mapping>
    

     <servlet>
        <servlet-name>DB_Upload</servlet-name>
        <servlet-class>RPI.Upload</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DB_Upload</servlet-name>
        <url-pattern>/DB_Upload</url-pattern>
    </servlet-mapping>
    
    
        
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>RPI.Login</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>RPI.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    
    
    
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
</web-app>
