body {
    font-size: 62.5%;
    font-family: arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

/*html,*/
/*body {*/
    /*height: 100%;*/
/*}*/

/*.carousel,*/
/*.item,*/
/*.active {*/
    /*height: 100%;*/
/*}*/

/*.carousel-inner {*/
    /*height: 100%;*/
/*}*/

/* Carousel Styling */
.slide1{
    background-image: url('270_mounatin_landscape.jpg');
    height: 975px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide2{
    background-image: url('Mountain-landscape-clouds-Ultra-HD-4k-Wallpaper.jpeg');

    height: 975px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide3{
    background-image: url('futuristic-city.jpg');

    height: 975px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-caption h1{

    font-family: 'Pacifico', cursive;
    font-size: 20em;
    padding-bottom: .4em;
}
.carousel-caption p{
    font-size: 2vw;
}

.btn-lg{
    font-size: 1em;

}

#login{
    display: block;
    margin: 0 auto;
    width: 100%;
}


#loginDiv{
    margin-top:100px !important;

    font-family: 'Pacifico', cursive;
    font-size: 21em;
    width: 100%;

}

#loginDiv label{

    width: 100%;
}

label#firstLabel{


    padding-top: 1000px !important;
}



input{
    font-family: Roboto;
    display: block;
    font-size: 0.7em;
    background: transparent;

    text-align: center;

    color: #fff;
}

input[type="text"],input[type="password"]{
    margin: 0 auto;
    height: 100px;
    border-color: transparent;
    border-bottom: solid white 4px;
    outline: none;

    font-size: 6rem;
    width: 90%;

}

input[type="submit"] {
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 0.3em;
    width: 300px;
    color: white;
    font-weight: bold;
    background: transparent;
    text-align: center;
}

#date{
    font-family:Roboto;
    font-size: 50px;
}